@{
    ViewBag.Title = "Home Page";
}

<div class="backrground_body">

    <header class="masthead" id="home">
        <div class="container">
            <div class="header-text-right">
                <div class="row justify-content-end ">
                    <div class="col-6 col-md-3 "> <img class="test" src="~/img/woman.png" /></div>
                    <div class="col-12 col-sm-6 col-md-9 whiters mt-10 align-items-center">
                        <p>
                            Дарите эмоции! Передайте свои чувства цветами.
                        </p>
                        <p class="psmall">Там где есть любовь - слов всегда мало. </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>