@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Goods.css" rel="stylesheet" />
<div class="backrground_body">
    <div class="backrground_line">
        <header class="masthead" id="home">
            <div class="container">
                <div class="header-text-right">
                    <div class="row justify-content-end ">
                        <div class=" col-3 col-sm-4 col-md-3 ">  <img class="test" src="~/img/woman.png" style="border:none!important" /></div>
                        <div class="col-8 col-sm-8 col-md-9 whiters mt-10 align-items-center txtZAGL">
                            <p>
                                Дарите эмоции! Передайте свои чувства цветами.
                            </p>
                            <p class="psmall">Там где есть любовь - слов всегда мало. </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="slideBTN-section" id="vbor">
            <div class="text-center">
                <p class="section-heading chek">ЧАСТЫЙ ВЫБОР</p>
            </div>
            <div class="jsx-4236681003 jsx-606958059 container-viewport justify-content-center text-center">
                <div class="jsx-4236681003 jsx-606958059 category-container">
                    <button class="jsx-4236681003 jsx-606958059 category" id="1" onclick="LoadGoodsTwo(this) ">
                        <h4 class="jsx-2308871751 quaternary-heading" onclick="ClickButton(this) " style="font-weight:bold">
                            <ya-tr-span data-index="170-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Shoes" data-translation="Туфли" data-type="trSpan">Монобукеты</ya-tr-span>
                        </h4>
                    </button>
                    <button class="jsx-4236681003 jsx-606958059 MobileCarousel__category" id="6" onclick="LoadGoodsTwo(this)">
                        <h4 class="jsx-2308871751 quaternary-heading" onclick="ClickButton(this)">
                            <ya-tr-span data-index="171-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Apparel" data-translation="Одежда" data-type="trSpan">Сухоцветы</ya-tr-span>
                        </h4>
                    </button>
                    <button class="jsx-4236681003 jsx-606958059 MobileCarousel__category" id="11" onclick="LoadGoodsTwo(this)">
                        <h4 class="jsx-2308871751 quaternary-heading" onclick="ClickButton(this)">
                            <ya-tr-span data-index="171-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Apparel" data-translation="Одежда" data-type="trSpan">Игрушки</ya-tr-span>
                        </h4>
                    </button>
                </div>
                <hr style="width:50%; background-color:white!important; height:1px!important; margin-top:-5px " />

            </div>

            @{string idCategory = "1";
            }

            <div class="container BlockGoods" id="ElementGoodsTwo">
                @Html.Action("ElementGoodsTwo", "Goods", new { id = idCategory })
            </div>
        </section>

        <section class="page-section" id="our">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading">О НАС</h2>
                </div>
                <div class="whiteframe">
                    <div class="row text-center">
                        <div class="col-sm-8 offset-sm-2 col-10 offset-1">

                            <p class="">
                                Наша компания занимается цветами более 5 лет. Работа происходит напрямую, минуя посредников, за счёт этого наши клиенты получаею цветы по доступным&nbsp;ценам.


                            </p>
                            <p class="about-page"> Мы занимаемся флористикой любого уровня сложности, от самых простых букетов до свадебного оформления</p>
                        </div>

                    </div>
                </div>

            </div>
        </section>


        <div class="carousel-section">
            <div class=" container">
                <div id="carouselExampleDark2" class="carousel carousel-dark slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleDark2" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleDark2" data-slide-to="1"></li>
                        <li data-target="#carouselExampleDark2" data-slide-to="2"></li>

                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item carousel-item2 active" data-interval="6000">
                            <div class="row g-0 position-relative  ">
                                <div class="col-xl-7 p-5 ps-md-0 order-last order-xl-first BlockContentPost">
                                    <h5 class="mt-0 HeadPosts">Самый большой выбор различных цветочных изделий</h5>
                                    <p class="d-block overflow-hidden ContentPosts">
                                        Цветы – беспроигрышный подарок, который в любой день поднимет настроение. Флористы нашей студии знают, как сделать цветочный сюрприз запоминающимся, а курьерская служба позаботится о его бережной доставке.

                                    </p>
                                    <p class="d-block overflow-hidden ContentPosts kars">Красивые свежесобранные цветы приятно не только получать. Сам процесс подготовки такого сюрприза – истинное наслаждение. Достаточно всего на минутку окунуться в яркий и хрупкий цветочный мир, как сразу же улучшается настроение и жизнь наполняется красками. Наши удивительные букеты цветов выглядят потрясающе и обладают восхитительным ароматом.</p>

                                    <button class="btn btnModalcarousel">Перейти к каталогу</button>
                                    <a class="carousel-control-prev control-prev btn btn-outline-secondary border   " href="#carouselExampleDark2" role="button" data-slide="prev">
                                        <span aria-hidden="true"><i class="fas fa-angle-left fa-2x"></i></span>
                                    </a>
                                    <a class="carousel-control-next control-next btn btn-outline-secondary border" href="#carouselExampleDark2" role="button" data-slide="next">
                                        <span aria-hidden="true"><i class="fas fa-angle-right fa-2x"></i></span>
                                    </a>
                                </div>
                                <div class="col-xl-5 mb-md-0 p-5 text-center order-first order-xl-last BlockImgPost">
                                    <img src="~/img/slaid1.jpg" class="img-fluid rounded ImgPost " alt="...">
                                </div>


                            </div>
                        </div>
                        <div class="carousel-item carousel-item2" data-interval="6000">
                            <div class="row g-0 position-relative  ">

                                <div class="col-xl-7 p-5 ps-md-0 order-last order-xl-first BlockContentPost">
                                    <h5 class="mt-0 HeadPosts">Самый большой выбор различных цветочных изделий</h5>
                                    <p class="d-block overflow-hidden ContentPosts">
                                        Цветы – беспроигрышный подарок, который в любой день поднимет настроение. Флористы нашей студии знают, как сделать цветочный сюрприз запоминающимся, а курьерская служба позаботится о его бережной доставке.
                                    </p>
                                    <p class="d-block overflow-hidden ContentPosts kars">Красивые свежесобранные цветы приятно не только получать. Сам процесс подготовки такого сюрприза – истинное наслаждение. Достаточно всего на минутку окунуться в яркий и хрупкий цветочный мир, как сразу же улучшается настроение и жизнь наполняется красками. Наши удивительные букеты цветов выглядят потрясающе и обладают восхитительным ароматом.</p>

                                    <button class="btn btnModalcarousel">Перейти к каталогу</button>
                                    <a class="carousel-control-prev control-prev btn btn-outline-secondary border   " href="#carouselExampleDark2" role="button" data-slide="prev">
                                        <span aria-hidden="true"><i class="fas fa-angle-left fa-2x"></i></span>
                                    </a>
                                    <a class="carousel-control-next control-next btn btn-outline-secondary border" href="#carouselExampleDark2" role="button" data-slide="next">
                                        <span aria-hidden="true"><i class="fas fa-angle-right fa-2x"></i></span>
                                    </a>

                                </div>

                                <div class="col-xl-5 mb-md-0 p-5 text-center order-first order-xl-last BlockImgPost">
                                    <img src="~/img/slaid2.jpg" class="img-fluid rounded ImgPost " alt="...">
                                </div>


                            </div>
                        </div>
                        <div class="carousel-item carousel-item2" data-interval="6000">
                            <div class="row g-0 position-relative  ">
                                <div class="col-xl-7 p-5 ps-md-0 order-last order-xl-first BlockContentPost">
                                    <h5 class="mt-0 HeadPosts">Самый большой выбор различных цветочных изделий</h5>
                                    <p class="d-block overflow-hidden ContentPosts">
                                        Цветы – беспроигрышный подарок, который в любой день поднимет настроение. Флористы нашей студии знают, как сделать цветочный сюрприз запоминающимся, а курьерская служба позаботится о его бережной доставке.
                                    </p>
                                    <p class="d-block overflow-hidden ContentPosts kars">Красивые свежесобранные цветы приятно не только получать. Сам процесс подготовки такого сюрприза – истинное наслаждение. Достаточно всего на минутку окунуться в яркий и хрупкий цветочный мир, как сразу же улучшается настроение и жизнь наполняется красками. Наши удивительные букеты цветов выглядят потрясающе и обладают восхитительным ароматом.</p>

                                    <button class="btn btnModalcarousel">Перейти к каталогу</button>
                                    <a class="carousel-control-prev control-prev btn btn-outline-secondary border   " href="#carouselExampleDark2" role="button" data-slide="prev">
                                        <span aria-hidden="true"><i class="fas fa-angle-left fa-2x"></i></span>
                                    </a>
                                    <a class="carousel-control-next control-next btn btn-outline-secondary border" href="#carouselExampleDark2" role="button" data-slide="next">
                                        <span aria-hidden="true"><i class="fas fa-angle-right fa-2x"></i></span>
                                    </a>
                                </div>
                                <div class="col-xl-5 mb-md-0 p-5 text-center order-first order-xl-last BlockImgPost">
                                    <img src="~/img/slaid3.jpg" class="img-fluid rounded ImgPost " alt="...">
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <section class="page-section" id="using">
            <div class="container whiters-page">
                <div class="text-center">
                    <p class="section-heading">ОФОРМЛЕНИЕ ЗАКАЗА</p>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <img src="~/img/podtver.png" alt="database">
                        <h4 class="my-3 text-page3">Подтверждение</h4>
                        <p class="text-muted">Уточните детали <br /> Вашей заявки и <br /> подтвердите заказ по <br /> звонку менеджера</p>
                    </div>
                    <div class="col-md-4">
                        <img src="~/img/tracking.png" alt="list">
                        <h4 class="my-3 text-page3">Доставка</h4>
                        <p class="text-muted">
                            Бесплатная доставка <br /> в любую точку <br /> самовывоза <br /> в Новосибирске
                        </p>
                    </div>
                    <div class="col-md-4">
                        <img src="~/img/poluhenie.png" alt="analytics">
                        <h4 class="my-3 text-page3">Получение</h4>
                        <p class="text-muted">
                            Вы можете забрать <br /> заказ после получения <br /> письма <br /> на электронную почту
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
<script src="~/Scripts/ForGoods.js"></script>