@model IEnumerable<UserFlowerShop.Models.Categories>

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SILKEN интернет-магазин цветов</title>
    <link rel="stylesheet" href="~/Content/Goods.css">
</head>
<body>
    <div class="backrground_catalog">
        <div class="backrground_LineCatalog">
            <section class="page-section " id="catalog">
                <div class="container">
                    <div class="row ">
                        <div class="col-4">
                            <div class="CategoryMenu container ">
                                @foreach (var item in Model)
                                {
                                    <span class="d-block CategoryGoods " id="@Html.DisplayFor(modelItem => item.ID)" onclick="LoadGoods(this)">&mdash; @item.Name</span>
                                }
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="container">
                                <div class="text-center">
                                    <h2 class="section-heading">Каталог товаров</h2>
                                </div>

                                @{string idCategory = "8"; }
                                <div class="container BlockGoods" id="ElementGoods">
                                    @Html.Action("ElementGoods", new { id = idCategory })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </section>

        </div>
    </div>
   
   
   
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/ForGoods.js"></script>
    <script src="~/Scripts/Scripts.js"></script>
</body>
</html>


